body {
	background-color: #f9f9f9;
}

.wrapper {
	background-color: white;
	padding: 1em;
	margin: 2em;
	border-radius: 6px;
}

.first-section {
	margin-bottom: 1em;
}

#accordion-btn {
	width: 100%;
	color: #343436;
	background: #ffca28;
	margin: 0 auto;
	padding: 1em;
	font-size: 14px;
	font-weight: unset;
	text-transform: inherit;
	text-decoration: none;
	text-shadow: unset;
} 
#accordion-btn:hover {
	background: #d6ac2b;
}
#theString {
	word-wrap: break-word;
}
#theStringLength {
	text-align: center;
}
#accordion-num {
	font-weight: bold;
}
#letter-input {
	text-align: center;
}

#error {
	text-align: center;	
}
.closed {
	display: none;
}
.open {
	display: block;
}
#num-input {
	width: 15%;
	text-align: center;
	padding: .5em 1.5em;
	display: inline-block;
}
.results-row {
	text-align: center;
}
.newString {
	text-align: right;
	margin: .5em;
}
@media only screen and (min-width: 1024px) {
	.wrapper {
		width: 60%;
		margin: 2em auto;
	}
}
